html {
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%; 
    padding: 0; 
    margin: 0; 
}

#unity-container { position: absolute; left: 0px; top: 0px; width:100%; height: 100%; }
#unity-container.desktop { display: none; }
#unity-container.mobile { display: block; }
#unity-canvas { width: 100%; height: 100%; display: none; }
#loading-bg-img {
    width: 100%; 
    height: 100%;
}
#unity-loading-bar { 
    position: absolute; 
    top: 88%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: none 
}
#unity-logo { width: 256px; height: 200px; background: url('unity-logo-dark4.png') no-repeat center }
#unity-progress-bar-empty { width: 256px; height: 33px; margin-top: -15px; background: url('progress-bar-empty-dark2.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 33px; margin-top: -15px; background: url('progress-bar-full-dark2.png') no-repeat center }
#unity-footer { position: relative }
#unity-footer.mobile { display: none }
#unity-webgl-logo { float:left; width: 0px; height: 0px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 0px }
#unity-fullscreen-button { float: right; width: 0px; height: 0px; background: url('fullscreen-button.png') no-repeat center }

#landing-container {
    text-align: center;
    scroll-margin-top: 50%;
    scroll-margin-left: 50%;
}